
#container-tos {
    margin: 8em auto 4em;
    font-size: 18px;
    width: 70%;
    padding: 0 1em;
    display: flex;
    background-color: var(--firebase-dark-navy-blue);
    border-radius: 20px;
}

/* Contenedor centrado */
#tos {
    width: 90%;
    margin: 3em auto;
    border-radius: var(--border);
}

/* Título */
#title-tos {
    display: flex;
    align-items: flex-end;
    font-size: 30px;
    color: var(--bootstrap-skyblue);
    margin-bottom: 1em;
    padding-bottom: 10px;
    border-bottom: 4px solid var(--firebase-navy-blue);
}

/* Terminos */
.encabezado {
    color: var(--bootstrap-bg-info);
    font-size: 24px;
    margin-bottom: 16px;
}

.descripcion {
    color: var(--shadow-clear);
    line-height: 2.4;
    text-align: justify;
}

.termino:not(:last-child) {
    margin-bottom: 2em;
}