/* Estilos al div de anuncio de la calculadora */
#calculator {
    height: 300px;
    width: 80%;
    margin: 0 auto;
    border: 1px solid var(--paypal-dark);
    border-radius: 10px;
    box-shadow: 0 40px 80px #1d2430;
    overflow: hidden;

    /* Glasmorphism */
    background-color: rgba(255, 255, 255, 0.04);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.1);
    outline: 1px solid rgba(255, 255, 255, 0.12);
}

#calculator-flex {
    display: flex;
    align-items: center;
    height: 100%;
    backdrop-filter: blur(4px);
}

/* Pequeño aviso */
#calculator::before {
    content: 'Para creadores de Bots';
    position: absolute;
    background-color: var(--paypal);
    box-shadow: 0 10px 40px var(--paypal-dark);
    border-radius: 8px;
    font-weight: bold;
    padding: 1.4em 2em;
    width: 20%;
    transform: translate(-3em, -50%);
    z-index: 1;
}

/* Contenido del anuncio calculadora */
#calculator-left {
    width: 40%;
    padding: 0 2em;
}

#calculator-left p {
    line-height: 1.8;
    color: var(--default-shadow-gray);
}

#calculator-link {
    color: var(--bootstrap-skyblue);
}

/* Fondo calculadora */
#calculator-right {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Logo de calculadora */
#logoax {
    width: 200px;
    position: absolute;
    z-index: 2;
}

/* Tablet */
@media (max-width: 768px) {
    /* Div con la imagen y efecto de texto */
    #centre-header {
        width: 80%
    }

    /* Efecto del texto */
    #typed-text {
        font-size: 50px;
    }

    #centre-main {
        width: 90%;
    }

    #calculator {
        width: 90%;
        box-shadow: 0 20px 60px #1d2430;
    }

    /* Para creadores de bot */
    #calculator::before {
        width: auto;
        transform: translate(-2em, -50%);
    }

    #calculator-left {
        width: 50%;
    }

    #calculator-left h1 {
        font-size: 1.7em;
    }

    #calculator-right {
        width: 30%;
    }

    /* Desaparece el fondo de matemática */
    #bgmath {
        display: none;
    }
}

/* La sombra */
@media (min-width: 769px) {
    #calculator-right::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, .8);
        z-index: 1;
    }

    /* Fondo de matemática */
    #bgmath {
        height: 100%;
    }
}