a {
    color: white;
}

#menu-icon {
    width: 40px;
    border-radius: 50%;
    border: 2px solid white;
}

.menu {
    position: fixed;
    z-index: 10;
}

/* Contenedor del icono hamburguesa y logo */
.menu-left {
    width: 120px;
    border-radius: 40px;
    padding: 1em 1.8em;
    margin: 1em 0 1em 1.4em;
    background-color: var(--firebase-dark-navy-blue);
    box-shadow: 0 6px 6px #1d2430;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* icono de hamburguesa */
.menu-left svg {
    transform: scale(1.4);
    color: var(--default-shadow-gray);
    cursor: pointer;
}

/* Estilos del menú oculto */
.menu-right {
    display: flex;
    flex-direction: column;
    height: 80vh;
    position: absolute;
    width: 200px;
    left: -220px;
    transition: left .1s;

    /* Glasmorphism */
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(4px);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.05);
    outline: 1px solid rgba(255, 255, 255, 0.12);

    padding: 1.4em 0;
}

/* Cuando se le dio click al menu */
.menu-right-active {
    left: 14px;
}

/* Enlaces */
.menu-right a {
    padding: 8px 0;
    margin-left: 2em;
    display: flex;
    align-items: center;
}

/* Margen al icono */
.menu-right a svg {
    margin-right: 6px;
}
.menu-right a:not(:last-child) {
    margin-bottom: 1em;
}

.menu-right a:hover {
    box-shadow: 0 1px 0 white;
}

/* Tablet */
@media (max-width: 768px) {
    .menu {
        width: 80%;
    }
}

/* Icono locker g */
#lglogo {
    position: absolute;
    left: 200px;
    width: 70px;
    filter: drop-shadow(4px 4px 2px black);
}